[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
wget = "*"
flask = "*"
numpy = "*"
h5py = "*"
progress = "*"
imageio = "*"
torch = "*"
matplotlib = "*"
scikit-image = "*"
pylint = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
