<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>button for page</title>
  <link rel="stylesheet" href="./button.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">

        <form class="toggle">

            <input type="radio" id="choice1" name="choice" value="creative">
            <label for="choice1">Speed</label>

            <input type="radio" id="choice2" name="choice" value="productive">
            <label for="choice2">Quality</label>

            <div id="flap"><span class="content">productive</span></div>

        </form>

    </div>
<!-- partial -->
  <script  src="./button.js"></script>

</body>
</html>
