<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Test the given images</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="../static/css/upload.css">

</head>

<body>
  <!-- Modified from Codepenio， thank Codepen for providing the web design-->
  <nav id="main-nav">
    <div class="full-wrapper relative">
      <div id="nav-logo-wrap">
        <a href="/"><img src="https://assets.manchester.ac.uk/corporate/images/design/logo-university-of-manchester.png" alt="Veruscript"></a>
      </div>
      <div id="nav-menu-wrap">
        <div id="nav-page-section">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
          </ul>
        </div>
        <div class="separator-menu"></div>

        <!-- [end #nav-section] -->
        <div id="nav-tools-section">
          <ul>
            <li><a href="/resources" class="signin-btn-nav">Resources</a></li>
            <li><a href="/test" class="signin-btn-nav">Test the model</a></li>
            <li><a href="/demo" class="signin-btn-nav">Some Demos</a></li>
          </ul>
        </div>

        <!-- [end #nav-tools-section] -->
      </div>

      <!-- humber menu & overlay menu-->
      <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>

      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/test">Test the model</a></li>
            <li><a href="/demo">Some Demos</a></li>
          </ul>
        </nav>
      </div>
      <div class="clear"></div>
    </div>
  </nav>
  <div class="container" id="imageWgt">
    <div>
      <p id ='message' align="center" style="color:aliceblue" ;>Select images, upload images, then get the test result
      </p>
      <h5 id ='message' align="center" style="color:crimson" ;>Only support .jpg and .png format image, others will fail
      </h5>
      <h6 id ='message' align="center" style="color:crimson" ;>Since model is trained on the COCO dataset, it is recommended that you choose the test images from COCO.
      </h6>
      <h6 id ='message' align="center" style="color:crimson";> I random selected 100 images form COCO, you can dowload from <a href="https://livemanchesterac-my.sharepoint.com/:f:/g/personal/yan_liu-25_student_manchester_ac_uk/EubzSD50eN9JnlhAIbOhZXgB0XNcJ89ufKLrKID7M1ZYOA?e=zkFhB5">here</a> to test it !</h6>
    </div>
    <div class="row image-row">
      <div class="col-8">
        <div class="image-upload">
          <span class="image-icon">
          </span>
          <span class="image-instr">Click here to select Image(s)</span>
        </div>
      </div>
      <div class="col-4">
        <ul class="list-group  image-status">
          <li style="background-color: #ccc" ; class="list-group-item"># of image(s) <span
              class="badge badge-info image-count">0</span></li>
          <li style="background-color: #ccc" ; class="list-group-item">Total Size <span
              class="badge badge-info image-tot-size">0 Mb</span>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
            <div class="max-size-limit"></div>
          </li>
        </ul>
        <div class="alert alert-info" role="alert">
          <span class="fa fa-exclamation-circle"></span> Click on <b>Upload and Test Image</b> to get the results
        </div>
        <div class="image-action">
          <button type="button" disabled class="upload-start btn btn-outline-success btn-block"> Upload and Test
            Image(s)</button>
          <button type="button" disabled class="upload-clean btn btn-outline-danger btn-block">Clear</button>
        </div>
      </div>
    </div>
    <div class="images-to-upload" id="box">
      <ul>
      </ul>
    </div>
  </div>
  <!-- [Script stiky menu ] -->
  <script type="text/javascript">
    window.addEventListener("scroll", function () {
      if (window.pageYOffset > 50) {
        document.getElementById("main-nav").className = "scrolling";
      } else {
        document.getElementById("main-nav").className = "";
      }
    })
  </script>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
  <!--<script src='../static/js/jquery-ui.js'></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
  <script src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
  <script src="../static/js/upload.js"></script>
  <script src="../static/js/nav.js"></script>
</body>

</html>
